@import '../color-palettes/main-colors.scss';
@import './font-sizes.scss';

.nav-type-button {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    border-left: 2px solid $light-medium-grey;
    outline: none;
    transition: .2s ease-out;

    &:hover {
        background-color: $flag-blue-lightest;
        border-left: 2px solid $flag-blue-lightest;
        transition: .2s ease-in;
        cursor: pointer;

        span {
            font-size: $main-standard-font;
            color: $black;
        }
    }
}

.nav-link-active {
    background-color: $flag-blue-dark;
    border-left: 2px solid $flag-blue-dark;

    span {
        color: $white;
    }
}