$white: #ffffff;
$light-grey: #F1F2F2;
$light-medium-grey: #E6E7E8;
$medium-grey: #D1D3D4;
$grey: #BCBEC0;
$dark-grey: #696969;
$almost-black: #303030;
$black: #000000;

$flag-blue-lightest: #51EAFF;
$flag-blue-light: #1EC9E8;
$green-light: #70E852;
$yellow-light: #FBFF00;
$flag-red-light: #F85C50;
$flag-red-dark: #E20338;
$flag-pink: #FF2970;
$flag-purple-dark: #A854A5;
$flag-blue-lightest: #BBC9DD;
$flag-blue-dark: #4A586E;

$white-light-transparent: rgba(255, 255, 255, 0.2);
$white-medium-transparent: rgba(255, 255, 255, 0.5);