<div class="page">
    <div class="image-container">
        <picture>
            <source media="(max-width: 420px)" srcset="../../../assets/images/serverroom-tablet-vertical-small.jpg">
            <source media="(max-width: 600px)" srcset="../../../assets/images/serverroom-tablet-vertical-medium.jpg">
            <source media="(max-width: 719px)" srcset="../../../assets/images/serverroom-small.jpg">
            <source media="(max-width: 1079px)" srcset="../../../assets/images/serverroom-medium.jpg">
            <source media="(max-width: 1439px)" srcset="../../../assets/images/serverroom-big.jpg">
            <source media="(min-width: 2159px)" srcset="../../../assets/images/serverroom-huge.jpg">
            <img src="../../../assets/images/serverroom-medium.jpg" alt="Server Room">
        </picture> 
    </div>
</div>