@import '~bootstrap/dist/css/bootstrap.min.css';

@import './assets/shared-style-classes/shared-sass-properties.scss';
@import './assets/shared-style-classes/buttons.scss';

@import './assets/color-palettes/main-colors.scss';
@import './assets/shared-style-classes/font-sizes.scss';

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: $light-medium-grey;
}

.page {
    display: flex;
    flex-flow: column;
    background-color: $light-medium-grey;
}

.page-content-main {
    height: 90%;
    width: 90%;
    margin: 3% auto 5%;
}

.content {
    background-color: $white;
}

.element-content {
    background-color: $white;
}

.text-container {
    padding: 4vw;
}

.spacer {
    flex: 1 1 auto;
}

img {
    width: 100%;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: $light-medium-grey;
}

::-webkit-scrollbar-thumb {
    background: $flag-blue-dark;

    &:hover {
        background: $flag-blue-lightest;
    }
}