<div class="content">
    <mat-toolbar>
        <mat-toolbar-row>
            <span id="app-title" routerLink="/">Simple Repository</span>
            <span class="spacer"></span>
            <div class="nav-type-button"
                routerLink="/home"
                routerLinkActive="nav-link-active">
                <span>
                    Main Page
                </span>
            </div>
            <div class="nav-type-button"
                routerLink="/shop"
                routerLinkActive="nav-link-active">
                <span>
                    Shop
                </span>
            </div>
            <div class="nav-type-button"
                routerLink="/about-us"
                routerLinkActive="nav-link-active">
                <span>
                    About Us
                </span>
            </div>
            <div class="nav-type-button"
                routerLink="/contact"
                routerLinkActive="nav-link-active">
                <span>
                    Contact
                </span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>