<div class="content">
    <mat-toolbar>
        <mat-toolbar-row>
            <span id="app-title">Simple Repository</span>
            <span class="spacer"></span>
            <div class="nav-type-button" routerLink="/shop">
                <span>
                    Shop
                </span>
            </div>
            <div class="nav-type-button">
                <span>
                    About Us
                </span>
            </div>
            <div class="nav-type-button">
                <span>
                    Contact
                </span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>