<div class="table">
    <table>
        <tr>
            <th *ngFor="let header of headers">{{header}}</th>
        </tr>
        <tr *ngFor="let cell of softwareData">
            <td>
                {{cell.name}}
            </td>
            <td>
                {{cell.type}}
            </td>
            <td>
                {{cell.description}}
            </td>
            <td>
                {{cell.moduleStrength}}
            </td>
            <td>
                {{cell.cost}}
            </td>
        </tr>
    </table>
</div>