@import '~bootstrap/dist/css/bootstrap.min.css';
@import './assets/color-palettes/main-colors.scss';

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.page {
    min-height: 1300px;
    background-color: $light-medium-grey;
}